.treeview .list-group-item {
    cursor: pointer;
}

.treeview .tree-node:last-child {
    margin-bottom: 1px;
    display: block;
}

.treeview span.indent {
	margin-left: 10px;
    margin-right: 10px;
}

.treeview span.icon {
	margin-left: 10px;
    margin-right: 5px;
    user-select: none;
}

.treeview span.empty {
	margin-left: 28px;
	margin-right: 5px;
}